---
layout: default
---

<div class="home">
  <p>Carb-load Recipes</p>
  <div class="posts">

    {% for post in site.categories.1-recipe-carb %}
      <div>
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h4 class="post-title">{{ post.title }}</h4></a>
        <p class="post-summary">
          {% if post.summary %}
            {{ post.summary }}
          {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>
  <br>
  <p>Low-Carb Recipes</p>
  <div class="posts">

    {% for post in site.categories.1-recipe-locarb %}
      <div>
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h4 class="post-title">{{ post.title }}</h4></a>
        <p class="post-summary">
          {% if post.summary %}
            {{ post.summary }}
          {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>
  <br>
  <p>Snacks</p>
  <div class="posts">

    {% for post in site.categories.1-recipe-snack %}
      <div>
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h4 class="post-title">{{ post.title }}</h4></a>
        <p class="post-summary">
          {% if post.summary %}
            {{ post.summary }}
          {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>
</div>
